@media only screen and(max-width:768px) {
    .logo {
        font-size: 1em;
    }
    .hero_banner ul {
        position: absolute;
        top: 5.6em;
        left: 0;
    }
    .hero_banner .navigation .fa {
        display: block;
    }
    .hero_banner .banner_col-3 .col {
        width: 100%;
    }
    .full_wrap .two_section .round_img {
        width: 100%;
        padding: 2em 10em;
    }
    .full_wrap .two_section .round_img {
        padding: 3em 0;
    }
    footer .user-details .input_box {
        width: 100%;
        margin-bottom: 1em;
    }
    footer button {
        margin-top: 4.7em;
    }
}

@media only screen and(max-width:440px) {
    ul {
        width: 100%;
        background-color: gray;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 43px;
        align-items: center;
    }
    .full_wrap .two_section .round_img {
        padding: 3em 0;
    }
    footer .user-details .input_box {
        width: 100%;
        margin-bottom: 1em;
    }
    footer button {
        margin-top: 4.7em;
    }
}